.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: lightcyan;
    border: 1px solid cyan;
    border-radius: 3px;
    font-size: 20px;
    padding: 10px;
    width: 30%;
}

button:hover {
    background-color: aliceblue;
    cursor: pointer;
}

.animal-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}